<head>
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/userinterface.css" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="/static/userinterface.js"></script>


  <title>MedAssist</title>

</head>



<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="background-image: linear-gradient(to right,#15c196,hsl(165, 96%, 19%))">
      <a href="/home"><img src="/static/Med-Assist.png" style="padding-top: 6px; padding-left: 10px;" height="55"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  
      <div class="right" style="padding-right: 16px;">
       <a style="text-decoration: none;" href="/myshoppingcart"> <i class="material-icons">shopping_cart</i>
        <span class="badge tiny" id="shoppingcart"
          style="  position: relative; min-width: 15px; top: -50px; right: 5px; border-radius: 50%; font-size: xx-small;background: #f83205;color: white;">0</span></a>
      </div>
      <ul class="right hide-on-med-and-down mainmenu"></ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>