<!DOCTYPE html>
<link href="/static/category.css" rel="stylesheet">
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });

    </script>
    <script src="/static/project.js"></script>



    <meta charset="UTF-8">
</head>

<body>
    <div class="maincontainer">
        <div class="box" style="padding: 20px; width: 80%;">
            <div class="boxheading">
                <span style="padding:3px;width:40%;display: flex;justify-content: flex-start"><a
                        href="http://localhost:8000/productinterface"><i class="material-icons"
                            style="color: #FFFFFF; font-size: 24px;">add_box</i></a></span>
                <span class="headingtext">Product List</span>

            </div>
            <table class="striped centered responsive-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Brand</th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Offer Price</th>
                        <th>Packing Type</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Sale Status</th>
                        <th>Rating</th>
                        <th>Image</th>
                        <th>Update</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in records %}
                    <tr>
                        <td>{{ row.cname }} [{{ row.categoryid }}]</td>
                        <td>{{ row.scname }} [{{ row.subcategoryid }}]</td>
                        <td>{{ row.bname }} [{{ row.brandid }}]</td>
                        <td>{{ row.productid }}</td>
                        <td>{{ row.productname }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.offerprice }}</td>
                        <td>{{ row.packingtype }}</td>
                        <td>{{ row.qty }}</td>
                        <td>{{ row.status }}</td>
                        <td>{{ row.salestatus }}</td>
                        <td>{{ row.rating }}✰</td>
                        <td><img src="/static/{{ row.productimage }}" class="imgbtn" productid="{{ row.productid }}"
                                productimage="{{ row.productimage }}" width="40" /></td>
                        <td><a class="waves-effect waves-light btn modal-trigger btn editdeletebtn"
                                cname="{{ row.cname }}" cid="{{ row.categoryid }}" scid="{{ row.subcategoryid }}"
                                scname="{{ row.scname }}" bname="{{ row.bname }}" bid="{{ row.brandid }}"
                                pid="{{ row.productid }}" pname="{{ row.productname }}" prc="{{ row.price }}"
                                offprc="{{ row.offerprice }}" ptype="{{ row.packingtype }}" qt="{{ row.qty }}"
                                sta="{{ row.status }}" salesta="{{ row.salestatus }}" rate="{{ row.rating }}"
                                href="#modal1">Edit/Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="max-height: 90%;">
        <div class="modal-content">

            <input type="hidden" id="productid" />
            <input type="hidden" id="subid" />
            <input type="hidden" id="brid" />
            <div class="modelbox">
                <div class="boxheading">
                    <span class="headingtext">Update Product</span>
                </div>


                <div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">add_shopping_cart</i>
                            <select id="categoryid" name="categoryid">
                                <option value="" disabled selected>Choose your option</option>
                            </select>
                            <label>Select Category</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">account_circle</i>
                            <select id="subcategoryid" name="subcategoryid">
                                <option value="" disabled selected>Choose your option</option>
                            </select>
                            <label for="subcategoryid">Select SubCategory</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">account_circle</i>
                            <select id="brandid" name="brandid">
                                <option value="" disabled selected>Choose your option</option>
                            </select>
                            <label for="brandid">Select Brand</label>
                        </div>
                    </div>
                </div>


                <div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">add_shopping_cart</i>
                            <input required id="productname" name="productname" type="text" class="validate">
                            <label for="productname">Product Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input required id="price" name="price" type="text" class="validate">
                            <label for="price">Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input required id="offerprice" name="offerprice" type="text" class="validate">
                            <label for="offerprice">Offer Price</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input required id="packingtype" name="packingtype" type="text" class="validate">
                            <label for="packingtype">Packing Type</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input required id="qty" name="qty" type="text" class="validate">
                            <label for="qty">Quantity</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input required id="rating" name="rating" type="text" class="validate">
                            <label for="rating">Rating</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <select id="status" name="status">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Top">Top</option>
                                <option value="Trending">Trending</option>
                                <option value="Popular">Popular</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <select id="salestatus" name="salestatus">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Continue">Continue</option>
                                <option value="Discontinue">Discontinue</option>
                            </select>
                            <label for="salestatus">Sale Status</label>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col s6 btnrow">
                            <button class="btn waves-effect waves-light btnstyle editbtn">Edit
                                <i class="material-icons right">edit</i>
                            </button>
                        </div>
                        <div class="col s6 btnrow">
                            <button class="btn waves-effect waves-light btnstyle delbtn" type="button">Remove
                                <i class="material-icons right">delete</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 btnrow">
                            <div id="message" class="messagestyle"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        </form>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-green btn-flat btnclose">Close</a>
        </div>

    </div>

    </div>



    <!-- Modal Structure For Picture -->
    <div id="modal2" class="modal" style="width:300px; height: auto; display: flex;justify-content: center">
        <div class="modal-content">
            <div style="padding: 10px;">
                <input type="hidden" id="icon_pid" />
                <img id="icon" width="200" />
            </div>
            <div style="padding: 15px;"><b>Select New Picture:</b></div>
            <div style="padding: 15px">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input required type="file" id="newicon">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                <button class="btn waves-effect waves-light iconbtn">Edit Icon
                    <i class="material-icons right">edit</i>
                </button>
                <a href="#!" class="waves-effect waves-green btn-flat btniconclose">Close</a>

            </div>
        </div>
    </div>


</body>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('#modal1').modal();
        $('#modal2').modal();
        $('#categoryid').val(' ')
        $('#subcategoryid').val(' ')
        $('#brandid').val(' ')
        $('#productname').val(' ')
        $('#price').val(' ')
        $('#offerprice').val(' ')
        $('#packingtype').val(' ')
        $('#qty').val(' ')
        $('#status').val(' ')
        $('#salestatus').val(' ')
        $('#rating').val(' ')


        $('.editdeletebtn').click(function () {
            $('#message').html("")
            $('#subid').val($(this).attr('scid'))
            $('#brid').val($(this).attr('bid'))
            $('#subcategoryid').empty()
            $('#productid').val($(this).attr('pid'))
            $.getJSON("http://localhost:8000/fetchallsubcategoriesjson", { categoryid: $('#categoryid').val() }, function (data) {
                var records = data.data
                records.map((item) => {

                    $('#subcategoryid').append($("<option>").text(item.subcategoryname).val(item.subcategoryid))
                })
                $('#subcategoryid').val($('#subid').val())
                $('select').formSelect();
            })
            $.getJSON("http://localhost:8000/fetchallbrandsjson", { subcategoryid: $('#subid').val() }, function (data) {
                var records = data.data
                records.map((item) => {

                    $('#brandid').append($("<option>").text(item.brandname).val(item.brandid))
                })
                $('#brandid').val($('#brid').val())
                $('select').formSelect();
            })
            $('#categoryid').val($(this).attr('cid'))
            $('#subcategoryid').val($(this).attr('subcid'))
            $('#brandid').val($(this).attr('brid'))
            $('#productname').val($(this).attr('pname'))
            $('#price').val($(this).attr('prc'))
            $('#offerprice').val($(this).attr('offprc'))
            $('#packingtype').val($(this).attr('ptype'))
            $('#qty').val($(this).attr('qt'))
            $('#status').val($(this).attr('sta'))
            $('#salestatus').val($(this).attr('salesta'))
            $('#rating').val($(this).attr('rate'))
            $('select').formSelect()
        })
        $('.editbtn').click(function () {
            alert(productid)
            $.getJSON('http://localhost:8000/editproducts', {
                categoryid: $('#categoryid').val(),
                subcategoryid: $('#subcategoryid').val(),
                brandid: $('#brandid').val(),
                productid: $('#productid').val(),
                productname: $('#productname').val(),
                price: $('#price').val(),
                offerprice: $('#offerprice').val(),
                packingtype: $('#packingtype').val(),
                qty: $('#qty').val(),
                status: $('#status').val(),
                salestatus: $('#salestatus').val(),
                rating: $('#rating').val()
            }, function (data) {
                if (data.result) {
                    $('#message').html("Product Updated Successfully..")
                } else {
                    $('#message').html("Fail to  Update Product..")
                }

            })

        })

        $('.delbtn').click(function () {
            $.getJSON('http://localhost:8000/deleteproduct', { productid: $('#productid').val() }, function (data) {
                if (data.result) {
                    $('#message').html("Product Removed Successfully..")
                } else {
                    $('#message').html("Fail to Remove Product..")
                }

            })

        })

        $('.btnclose').click(function () {

            $('#modal1').modal('close');
            window.location.reload('http://localhost:8000/displayallproducts')

        })


        $('.btniconclose').click(function () {

            $('#modal2').modal('close');
            window.location.reload('http://localhost:8000/displayallproducts')

        })

        $('.imgbtn').click(function () {
            $('#icon_pid').val($(this).attr('productid'))
            $('#modal2').modal('open');
            $('#icon').attr('src', `/static/${ $(this).attr('productimage') }`)
        })
    });
    $('.fixed-action-btn').floatingActionButton();

    $('.iconbtn').click(function () {
        var formData = new FormData()
        formData.append('productid', $('#icon_pid').val())
        var file = $('#newicon')[0].files
        if (file.length > 0)
            formData.append('producticon', file[0])

        $.ajax({
            url: '/editproducticon',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response != 0) {
                    alert
                        ("Icon Updated Successfully..")
                } else {
                    alert("failed to Update Icon Successfully..")
                }
            }

        })

    })

</script>

</html>